# Flutter/Dart related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# IDE/Editor settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp

# Ignore IDE files
*.iml

# Ignore Python virtual environment
assets/venv/

# Ignore cache files
__pycache__/
*.pyc
*.pyo


